.header {
  background: rgb(69, 235, 124);
  padding: 20px;
}

.header .wrap {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.left ul,
.right ul {
  list-style-type: none;
}

.left ul li a,
.right ul li a {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

.header .right ul {
  display: flex;
}

.header .right ul li:first-child {
  margin-right: 20px;
}

.header a:hover {
  transition: 0.8s;
  color: rgb(255, 249, 249);
}

@media (max-width: 768px) {
  .header ul li a {
    font-size: 18px;
  }
}