.resp-tab {
  border-radius: 5px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: calc(100% - 15px);
  max-width: 100%;
  margin: 0 auto;
}
.resp-tab th,
.resp-tab td {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  font-family: Verdana, sans-serif;
  border: 1px solid #337ab7;
  vertical-align: top;
}
.resp-tab th {
  color: #fff;
  background: #337ab7;
  font-weight: bold;
  border: 1px solid #1a4a73;
  text-transform: uppercase;
  text-align: center;
}
.resp-tab tr:nth-child(even) {
  background: #edf7ff;
}
.resp-tab td span {
  background: #337ab7;
  color: #fff;
  display: none;
  font-size: 11px;
  font-weight: bold;
  font-family: Verdana, sans-serif;
  text-transform: uppercase;
  padding: 5px 10px;
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 860px) {
  .resp-tab thead {
    display: none;
  }
  .resp-tab tr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .resp-tab td {
    margin: 0 -1px -1px 0;
    padding-top: 35px;
    position: relative;
    width: calc(100% - 45px);
  }
  .resp-tab td span {
    display: block;
  }
}
@media (max-width: 480px) {
  .resp-tab td {
    width: calc(100% - 10px);
  }
}
